{% extends "base_generic.html" %}

{% block content %}
  <h1>Author List</h1>
  {% if author_list %}
  <table>
    <tr>
    <th>Author Name</th>
    <th>Action</th>
    </tr>
    {% for author in author_list %}
      <tr>
      <td>  <a href="{{ author.get_absolute_url }}">{{ author.first_name }}</a> ({{author.first_name}})</td>
      <td>
        <a href="{% url 'author_update' pk=author.id %}">Edit</a>
        <a href="{% url 'author_delete' pk=author.id %}">Delete</a>
      </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    <p>There are no authors in the library.</p>
  {% endif %}
{% endblock %}
